.popup-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
}

.popup-card {
  background: white;
  width: 650px;
  max-height: 90vh;
  overflow-y: auto;
  padding: 30px;
  border-radius: 12px;
  position: relative;
}

.close-btn {
  position: absolute;
  top: 12px;
  right: 12px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.titulo-popup {
  font-size: 20pt;
  text-align: center;
  margin-bottom: 20px;
  color: #2E4932;
  font-family: 'roboto';
}

.popup-grid {
  display: flex;
  gap: 20px;
}

.popup-foto img {
  width: 180px;
  height: 180px;
  border-radius: 10px;
  object-fit: cover;
}

.popup-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.popup-info input,
.popup-info select,
.popup-info textarea {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

textarea {
  min-height: 80px;
}

.btn-salvar {
  margin-top: 20px;
  background: #2E4932;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 8px;
  cursor: pointer;
  width: 100%;
}

.confirm-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.confirm-box {
  background: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}
