/* Tela toda centralizada */
.login-wrapper {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("banners/BG-03.png");
  background-color:  #c7dfc1;
  padding: 20px;
}

/* Caixa do Login */
.login-box {
  width: 100%;
  max-width: 420px;
  background: #f0f7f0;
  padding: 35px 40px;
  border-radius: 14px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.12);
  border: 1px solid #dbe6db;
  animation: fadeIn 0.4s ease;
}

/* Título */
.login-title {
  text-align: center;
  color: #23402f;
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 25px;
  font-family: 'roboto';
}
/* Form */
.login-form label {
  display: block;
  font-size: 15px;
  font-weight: 600;
  color: #2e4638;
  margin-bottom: 6px;
}

.login-form input {
  width: 100%;
  padding: 12px;
  margin-bottom: 18px;
  font-size: 15px;
  border: 1px solid #b9c9b9;
  border-radius: 10px;
  outline: none;
  background: #ffffff;
  transition: all 0.2s ease;
}

/* Acessibilidade: foco visível */
.login-form input:focus-visible {
  border-color: #2f513d;
  box-shadow: 0 0 0 3px rgba(47, 81, 61, 0.25);
}

button {
  width: 100%;
  background: #23402f;
  color: #f0f7f0;
  padding: 12px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s ease;
}

/* Hover */
button:hover {
  background: #e39622;
}

/* Acessibilidade */
button:focus-visible {
  outline: 3px solid #91c19b;
}

button:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

/* Suavidade */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
